/* Enter your Styles below! */

body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 48px;
}


header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding:5px;
	background-color: #ede9df
}


header .fakenav {
	margin-top: 40px;
	font-family: jaf-lapture-display, serif;
	font-weight: 400;
	font-style: normal;
	text-align: right;
	background-color: #ede9df;
	color: #886223;
}

.fakenav .newin{
	margin-right: 40px;
}

.fakenav .current{
	margin-right: 40px;
}

.fakenav .meetsarah{
	margin-right: 40px;
}

header .logo{
	margin-top: 10px;
	margin-left: 20px;
	width: 30vh;
}

header .logo:hover{

	animation: pulsate-fwd 0.8s ease-in-out infinite backwards;}

footer {
padding:30px;
	font-family: jaf-lapture-display, serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	background-color: #ede9df;
	color: #886223;
}


/* ensures that your images stretch the width of their containers */

img { width: 100%; }

.grid .home a{
		color: #d6967a;
		text-decoration: none;
		 }

.grid .jewelry a{
		color: #326054;
		text-decoration: none;
		 }

.grid .skincare a{
	 	color: #8c4b37;
	 	text-decoration: none;
	 	 }

 .grid .other a{
		color: #bdcac1;
		text-decoration: none;
		 }

a:hover { color: black; }


/* INDEX */

.grid {
	font-family: titling-gothic-fb-condensed, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 16pt;
text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 0px;
	width: 100%;
	height:80vh;
	margin: auto;
}

.grid .home {
	color: #d6967a;
	background-color: #8c4b37;
	padding: 50px;
}

.grid .home .one:hover {
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;
}


.home .one{
	margin-top:50px;
}

.grid .jewelry{
	color: #326054;
	background-color: #bdcac1;
	padding:50px;
}

.grid .jewelry .two:hover {
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;
}

.jewelry .two{
	margin-top:50px;
}

.grid .skincare{
	color:#8c4b37;
	background-color: #d6967a;
	padding:50px;
}

.skincare .three{
	margin-top:50px;
}

.grid .skincare .three:hover {
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;
}

.grid .other{
	color: #bdcac1;
	background-color: #326054;
	padding:50px;
}

.other .four{
	margin-top:50px;
}

.grid .other .four:hover {
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;
}

/* HOME */

.homegrid {
	display: grid;
	grid-template-columns: 1fr 1fr
}

.homegrid .home1{
width:100%;
height:100%;

}

.homegrid .box1{
	color:#8c4b37;
	width:100%;
	background-color: #bdcac1;
	border: solid;
	border-width: 5px;
	border-color:#d6967a;
}

.homegrid .box2 {
	border: solid;
	border-width: 5px;
	border-color:#d6967a;
background-color:  #8c4b37;

}

.homegrid .box2 .sale:hover{
display:block;
align:center;
width:100%;
margin-top: 30px;
margin-bottom: 30px;
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;

}

.homegrid .box2 .assets{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top:20px;

	}

	.box2 .assets .basket:hover{animation: pulsate-fwd 0.8s ease-in-out infinite backwards;}
		.box2 .assets .candle:hover{animation: pulsate-fwd 0.8s ease-in-out infinite backwards;}
	.box2 .assets .elephant:hover{animation: pulsate-fwd 0.8s ease-in-out infinite backwards;}
.homegrid .box2 .header {
	font-family: jaf-lapture-display, serif;
	font-weight: 400;
	text-align: left;
	font-style: normal;
	font-size: 28px;
	line-height:1.6;
	color:#d6967a;
	margin: 50px;
}

/* JEWELRY */

.jewelrygrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
		background-color:  #bdcac1;
}

.jewelrygrid .box1{
	background-color:  #bdcac1
	color:#8c4b37;
	border: solid;
	border-width: 5px;
	border-color:#326054;
}

.jewelrygrid .box2 {
background-color:  #bdcac1;
border: solid;
border-width: 5px;
border-color:#326054;

padding:30px;
}

.jewelrygrid .box2 .assets{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width:100%;
	padding-top: 30px;
}

.jewelrygrid .box2 .header {
	font-family: jaf-lapture-display, serif;
	font-weight: 400;
	text-align: left;
	font-style: normal;
	font-size: 28px;
	line-height:1.6;
	color:#326054;
}

.jewelrygrid .your-centered-div{
	border: solid;
	border-width: 5px;
	border-color:#326054;
	width: 560px; /* you have to have a size or this method doesn't work */
	 height: 315px; /* think about making these max-width instead - might give you some more responsiveness */
display:block;
margin-left: auto;margin-right: auto;

}

/* BEAUTY */

.beautygrid {
	display: grid;
	grid-template-columns: 1fr 1fr
}

.beautygrid .box1{
	color:#8c4b37;
	background-color: #d6967a;
	border: solid;
	border-width: 5px;
	border-color:#8c4b37;
}

.beautygrid .box2 {
background-color:  #d6967a;
border: solid;
border-width: 5px;
border-color:#8c4b37;
	padding:30px;
}

.beautygrid .your-centered-div{
	border: solid;
	border-width: 5px;
	border-color:#8c4b37;
	width: 560px; /* you have to have a size or this method doesn't work */
	 height: 315px; /* think about making these max-width instead - might give you some more responsiveness */
display:block;
margin-left: auto;margin-right: auto;

}


.beautygrid .box2 .header {
	font-family: jaf-lapture-display, serif;
	font-weight: 400;
	text-align: left;
	font-style: normal;
	font-size: 28px;
	line-height:1.6;
	color:#8c4b37;
	padding-bottom: 20px;
}

.beautygrid .box2 .assets{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top:40px;

}
.box2 .assets .soap:hover{
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;
}
.box2 .assets .bodyoil:hover{
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;
}

.box2 .assets .acv{
	width:80%;
}
.box2 .assets .acv:hover{
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;
}
/* ODDS N ENDS */

.oddsgrid {
		background-color: #326054;
	display: grid;
	grid-template-columns: 1fr 1fr

}

.oddsgrid .box1{
	border: solid;
	border-width: 5px;
	border-color:#bdcac1;
	color:#bdcac1;
	background-color: #326054;
}

.oddsgrid .box2 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	border: solid;
	border-width: 5px;
	border-color:#bdcac1;
background-color:#326054;
	padding:30px;
}


.oddsgrid .box2 .header {
	font-family: jaf-lapture-display, serif;
	font-weight: 400;
	text-align: left;
	font-style: normal;
	font-size: 50px;
	line-height:1.6;
color:#bdcac1;
}


.oddsgrid .box2 .body {
	font-family: jaf-lapture-display, serif;
	font-weight: 400;
	text-align: left;
	font-style: normal;
	font-size: 28px;
	line-height:1.6;
color:#bdcac1;
}

.oddsgrid .assets{
	display:block;
	position: relative;
	width:110%;
	height:auto;
}
.oddsgrid .assets:hover{
animation: pulsate-fwd 0.8s ease-in-out infinite backwards;}



@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



}

@media only screen and (min-width:1224px) {

}
